
header img{
    max-width: 100%;
    height: auto;
}

body{
    font-family: "Raleway", sans-serif;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-bottom: 3px solid white;
  }

#separate_nav{
    width: 100%;
}

a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: right 1s ease-out;
    transition: right 1s ease-out;
    z-index: 1;
}

a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
}
  
*:focus{
    border: 2px solid black;
}

.nav_links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#separate_nav li.current{
    background-color: #d5a4a8;
    border-style: dotted;
    border-color: black;
    font-style: italic;
}

nav a{
    font-size: 18px;
    color: black;
    padding: 6px;
    text-decoration: none;
}

.grid-container{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
}

.gallery__img {
    background: #444;
    border: 1px solid #555;
    color: #AAA;
    width: 100%;
    height: 100%;
    grid-row: span 1;
    box-shadow: 2px 2px 2px black;
  }

h1 {
    padding: 10px;
    text-align: center;
    font-size: 35px;
    letter-spacing: 10px;
}

h2 {
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

main{
    background-color: #d0efff;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    column-gap: 20px;
}

.container h3{
    padding-bottom: 10px;
}

.container div{
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    border: white 5px;
    border-style: solid;
    margin-bottom: 10px;
}

.container img {
   width: 275px;
   height: 320px;
   border-radius: 20px;
   
}

.container p {
    margin-top: 5px;
}

.container1 {
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: auto;
}

.container1 .top2{
    grid-row: 1;
}

.start-text{
    grid-row: 2;
}

.break-text{
    grid-row: 3;
}

.superstardom-text{
    grid-row: 4;
}

.end-text{
    grid-row: 5;
}

.start-text, .break-text, .superstardom-text, .end-text{
    padding: 15px;
    text-align: center;
    border: white 5px;
    border-style: solid;
    margin-bottom: 10px;
    border-radius: 60px;

}

.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    column-gap: 20px;
    align-items: stretch;
}

.container2 div{
    text-align: center;
    border-radius: 20px;
    border: white 5px;
    border-style: solid;
    margin-bottom: 10px;
}

.container2 img {
    padding: 0px;
    width: 100%;
    height: 320px;
    border-radius: 20px;
    
 }

.intro-text, .ending-text {
    padding: 20px;
}

footer{
    background-color:  #d0efff;
    padding: 20px;
    text-align: center;
}

@media (min-width: 760px) {
    header img{
        max-width: 100%;
        height: auto;
    }
    
    .nav_links{
        display: flex;
        flex-direction: row;
        justify-content: space-around; 
    }
    
    .grid-container{
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(3, auto);
        justify-content: center;
        align-items: center;
        grid-gap: 10px;
    }

    .container2{
        display: grid;
        grid-template-columns: 375px 375px;
        grid-template-rows: 60px 375px 375px;
        grid-gap: 5px 5px;
        align-items: stretch;
    }

    .container1{
        display: grid;
        grid-template-columns: 380px 380px;
        grid-template-rows: 60px 420px 420px;
        align-items: stretch;
        grid-gap: 5px;
    }

    .top2{
        grid-column: 1/-1;
        grid-row: 1;
    }

    .start-text{
        grid-column: 1;
        grid-row: 2;
    }

    .break-text{
        grid-column: 2;
        grid-row: 2;
    }

    .superstardom-text{
        grid-column: 1;
        grid-row: 3;
    }

    .end-text{
        grid-column: 2;
        grid-row: 3;
    }

    .start-text h2{
        font-size: 19px;
    }

    .container1 h2{
        padding: 15px;
    }
    
    .header1_grid, .top{
        grid-row: 1;
        grid-column: 1 / -1;
        font-size: 32px;
    }

    .start-image {
        grid-row: 2;
        grid-column: 1;
    }

    .intro-text{
        grid-row: 2;
        grid-column: 2;
    }

    .end-image{
        grid-row: 3;
        grid-column: 2;
    }

    .ending-text{
        grid-row: 3;
        grid-column: 1;
    }

    .start-image, .intro-text, .end-image, .end-text{
        text-align: center;
        border: white 5px;
        border-style: solid;
        margin-bottom: 10px;
    }

    .container2 img {
        padding: 0px;
        width: 365px;
        height: 355px;
        border-radius: 20px;
        
     }

    .container2 p{
         font-size: 24px;
         text-align: center;
     }

     .container2 h2{
         font-size: 32px;
         padding: 15px;

     }

    .container1 h1{
         padding: 15px;
     }

    .top{
         padding-top: 15px;
     }

@media (min-width: 1024px) {
    .container{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto auto;
    }

    .container h2{
        font-size: 30px;
        text-align: initial;
    }

    .container p {
        font-size: 25px;
        text-align: justify;
    }

    .container .top3{
        grid-row: 1;
        grid-column: 1 / -1;
    }

    .artist1{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 330px auto;
    }

    .artist1 h2{
        grid-column: 1;
        grid-row: 1;
    }

    .artist2{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 330px auto;
    }

    .artist2 h2{
        grid-column: 1;
        grid-row: 1;
    }

    .artist3{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 330px auto;
    }

    .artist3 h2{
        grid-column: 1;
        grid-row: 1;
    }

    .artist4{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 330px auto;
    }

    .artist4 h2{
        grid-column: 1;
        grid-row: 1;
    }

    .container .artist1{
        grid-row: 2;
        grid-column: 1/2;
    }

    .container .artist2{
        grid-row: 3;
        grid-column: 1/2;
    }

    .container .artist3{
        grid-row: 4;
        grid-column: 1/2;
    }

    .container .artist4{
        grid-row: 5;
        grid-column: 1/2;
    }

    .grid-container{
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(3, auto);
        grid-gap: 20px;
        }
    }

    .top4{
        padding: 40px;
    }

    .container1{
        display: grid;
        grid-template-rows: repeat(5, auto);
        grid-template-columns: repeat(2,auto);
        color: white;
        align-items: inherit;
        min-height: 700px;
    }

    .parallax {
        background-image: url("../images/parallax.jpeg");
        min-height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        grid-row: 1/5;
        grid-column: 1/-1;
    }

    .top2{
        position: absolute;
    }
    
    .start-text, .break-text, .superstardom-text, .end-text{
        display: flex; 
        flex-direction: column;
        position: relative;
        bottom: -50px;
    }

    .container2 .h1{
        animation-duration: 5s;
        animation-name: slidein;
        -webkit-animation-name: slidein;
        -webkit-animation-duration: 5s;
    }

    @-webkit-keyframes slidein{
        from{
            margin-left: 100%;
            width: 300%;
        }

        to{
            margin-left: 0%;
            width: 100%;
        }

    }
    @keyframes slidein {
        from{
            margin-left: 100%;
            width: 300%;
        }

        to{
            margin-left: 0%;
            width: 100%;

        }
    }
}

@media screen and (prefers-reduced-motion) {
    .container2 .h1{
        animation: none;
    }
    .parallax{
        background-attachment: inherit;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
    
   





    